<div class="input-area">
  <textarea
    type="text"
    name="userMessage"
    class="message-input"
    placeholder="{{placeholder}}"
    required
    autocomplete="off"
    rows="3"
    colums="50"
    style="resize: none;"
  ></textarea>
  <button type="submit" class="send-button">
    <i class="fas fa-paper-plane"></i>
  </button>
</div>
