<div class="input-area">
  <input
    type="text"
    name="userMessage"
    class="message-input"
    placeholder="{{placeholder}}"
    required
    autocomplete="off"
  />
  <button type="submit" class="send-button">
    <i class="fas fa-paper-plane"></i>
  </button>
</div>
