<section class="rhapsody-panel">
  <button type="button" data-action="testConnection">Test connection</button>
  {{#if lastResponse}}
    <pre class="rhapsody-response">{{lastResponse}}</pre>
  {{/if}}
</section>
